Repository killroy192/fortis: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint --fix --noPrompt src/**/*.sol, prettier --write, solhint --fix --noPrompt test/**/*.sol

swap functionality
  deployment-lock.json
  scripts/config.externals.js
  scripts/deployment/deploy.js
  scripts/deployment/example/arbitrum-goerli/config.js
  scripts/deployment/example/arbitrum-goerli/index.js
  scripts/deployment/example/arbitrum-sepolia/config.js
  scripts/deployment/example/arbitrum-sepolia/index.js
  scripts/deployment/example/hardhat/config.js
  scripts/deployment/example/hardhat/index.js
  scripts/deployment/example/localhost/index.js
  scripts/deployment/example/upgrades.js
  scripts/e2e/example/arb.js
  scripts/e2e/example/fund.js
  scripts/e2e/example/onReg.js
  scripts/e2e/example/trade.js
  scripts/e2e/example/trigger.js
  src/Oracle.sol
  src/OracleRouter.sol
  src/interfaces/IAutomationRegistry.sol
  src/interfaces/IOracle.sol
  src/test/Oracle.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

typo
  src/interfaces/IOracle.sol
  src/test/Oracle.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

finish
  deployment-lock.json
  scripts/e2e/example/onReg.js
  src/Oracle.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

Feat/payble full (#14)
  .gitignore
  deployment-lock.json
  scripts/common.js
  scripts/config.externals.js
  scripts/deployment/deploy.js
  scripts/deployment/example/arbitrum-goerli/config.js
  scripts/deployment/example/arbitrum-goerli/index.js
  scripts/deployment/example/arbitrum-sepolia/config.js
  scripts/deployment/example/arbitrum-sepolia/index.js
  scripts/deployment/example/hardhat/config.js
  scripts/deployment/example/hardhat/index.js
  scripts/deployment/example/localhost/index.js
  scripts/deployment/example/upgrades.js
  scripts/e2e/example/arb.js
  scripts/e2e/example/fund.js
  scripts/e2e/example/onReg.js
  scripts/e2e/example/trade.js
  scripts/e2e/example/trigger.js
  src/DataStreamConsumer.sol
  src/Oracle.sol
  src/OracleRouter.sol
  src/RequestsManager.sol
  src/example/SimpleConsumer.sol
  src/example/SwapApp.sol
  src/example/fakers/FakedOracle.sol
  src/example/fakers/FakedOracleProxy.sol
  src/example/fakers/IFakedOracle.sol
  src/example/tokens/fUSDC.sol
  src/example/tokens/fWETH.sol
  src/interfaces/IAutomationRegistry.sol
  src/interfaces/IOracle.sol
  src/interfaces/IRequestsManager.sol
  src/libs/FeeLib.sol
  src/libs/RequestLib.sol
  src/libs/VerifierLib.sol
  src/test/FeeLib.t.sol
  src/test/Oracle.t.sol
  src/test/RequestLib.t.sol
  src/test/RequestsManager.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

Added fallback tests
  src/test/Oracle.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

Fixed solhint warnings
  src/test/Oracle.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

Added fallback tests (#15)
  src/test/Oracle.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

add tests & clean up
  Makefile
  deployment-lock.json
  scripts/e2e/example/onReg.js
  scripts/e2e/example/trigger.js
  src/Oracle.sol
  src/OracleRouter.sol
  src/PriceFeedConsumer.sol
  src/example/fakers/FakedOracleProxy.sol
  src/example/fakers/IFakedOracle.sol
  src/interfaces/BasicReport.sol
  src/interfaces/IAutomationRegistry.sol
  src/libs/VerifierLib.sol
  src/test/Oracle.t.sol
  src/test/mocks/MockDataFeeds.sol
  src/test/mocks/MockRegistry.sol
  src/test/mocks/MockVerifier.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

enable UI
  demo/app/package-lock.json
  demo/app/src/_types.ts
  demo/app/src/app/api/feed/[feedId]/route.ts
  demo/app/src/app/api/feeds/[feedIds]/route.ts
  demo/app/src/app/datafeed-provider.tsx
  demo/app/src/app/layout.tsx
  demo/app/src/app/page.tsx
  demo/app/src/app/socket-provider.tsx
  demo/app/src/components/trade-button.tsx
  demo/app/src/components/trade-dialog.tsx
  demo/app/src/config/contracts.ts
Due: none

cleanin & readme
  Makefile
  demo/app/.env.example
  demo/app/README.md
  demo/app/img/arch-overview.png
  demo/app/src/app/layout.tsx
  deployment-lock.json
  hardhat.config.js
  integration/.gitkeep
  package.json
  scripts/common.js
  scripts/config.externals.js
  scripts/deployment/example/arbitrum-sepolia/config.js
  scripts/deployment/example/arbitrum-sepolia/index.js
  scripts/deployment/example/hardhat/config.js
  scripts/deployment/example/hardhat/index.js
  scripts/deployment/example/localhost/index.js
  scripts/deployment/example/upgrades.js
  scripts/e2e/example/arb.js
  scripts/e2e/example/fund.js
  scripts/e2e/example/onReg.js
  scripts/e2e/example/trade.js
  scripts/e2e/example/trigger.js
  src/example/SimpleConsumer.sol
  tasks/config.global.js
  tasks/demo/deploy.task.js
  tasks/demo/trade.task.js
  tasks/index.js
  tasks/libs/common.js
  tasks/libs/deploy.js
  tasks/onRegister.task.js
  tasks/refund.task.js
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

update makefile
  Makefile
Due: none

add hh compilation stage
  .github/workflows/quality-gate.yml
Due: none

cleanin & readme (#18)
  .github/workflows/quality-gate.yml
  Makefile
  demo/app/.env.example
  demo/app/README.md
  demo/app/img/arch-overview.png
  demo/app/src/app/layout.tsx
  deployment-lock.json
  hardhat.config.js
  integration/.gitkeep
  package.json
  scripts/common.js
  scripts/config.externals.js
  scripts/deployment/example/arbitrum-sepolia/config.js
  scripts/deployment/example/arbitrum-sepolia/index.js
  scripts/deployment/example/hardhat/config.js
  scripts/deployment/example/hardhat/index.js
  scripts/deployment/example/localhost/index.js
  scripts/deployment/example/upgrades.js
  scripts/e2e/example/arb.js
  scripts/e2e/example/fund.js
  scripts/e2e/example/onReg.js
  scripts/e2e/example/trade.js
  scripts/e2e/example/trigger.js
  src/example/SimpleConsumer.sol
  tasks/config.global.js
  tasks/demo/deploy.task.js
  tasks/demo/trade.task.js
  tasks/index.js
  tasks/libs/common.js
  tasks/libs/deploy.js
  tasks/onRegister.task.js
  tasks/refund.task.js
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

update tasks
  Makefile
  hardhat.config.js
  tasks/config.global.js
  tasks/demo/deploy.task.js
  tasks/demo/trade.task.js
  tasks/deploy.task.js
  tasks/index.js
  tasks/libs/common.js
  tasks/refund.task.js
Due: none

base readme
  .env.example
  README.md
  demo/app/src/app/layout.tsx
  hardhat.config.js
Due: none

update pkg.json
  LICENSE
  package-lock.json
  package.json
Due: none

typo
  demo/app/src/app/layout.tsx
Due: none

update README.md
  README.md
  demo/app/src/app/layout.tsx
Due: none

base readme (#21)
  .env.example
  LICENSE
  README.md
  demo/app/src/app/layout.tsx
  hardhat.config.js
  package-lock.json
  package.json
Due: none

fixes
  README.md
  demo/app/src/components/trade-dialog.tsx
  demo/app/src/config/contracts.ts
  deployment-lock.json
  hardhat.config.js
  img/Fortis_Automatic_Refund.jpg
  img/Fortis_Base_flow.jpg
  img/Fortis_Fallback_execution.jpg
  src/AutomationEmitter.sol
  src/Oracle.sol
  src/example/SwapApp.sol
  src/example/fakers/FakedOracle.sol
  src/example/fakers/FakedOracleProxy.sol
  src/example/fakers/IFakedOracle.sol
  src/interfaces/IAutomationEmitter.sol
  src/interfaces/IOracle.sol
  src/interfaces/IOracleCallBackContract.sol
  src/libs/RequestLib.sol
  src/test/mocks/MockVerifier.sol
  tasks/demo/deploy.task.js
  tasks/demo/trade.task.js
  tasks/deploy.task.js
  tasks/libs/common.js
  tasks/libs/deploy.js
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

update readme
  README.md
  tasks/demo/trade.task.js
Due: none

prefill trade values for demo
  demo/app/package-lock.json
  demo/app/src/components/trade-dialog.tsx
Due: none

init deployment configs
  Makefile
  demo.deployment.config.js
  deployment-lock.json
  deployment.config.js
  hardhat.config.js
  package-lock.json
  package.json
Due: prettier --write

prefill trade values for demo (#23)
  demo/app/package-lock.json
  demo/app/src/components/trade-dialog.tsx
Due: none

remove custom deploys
  Makefile
  hardhat.config.js
  package.json
  tasks/demo/deploy.task.js
  tasks/demo/migrate.task.js
  tasks/deploy.task.js
  tasks/index.js
Due: none

migrate to dgma/hardhat-sol-bundler
  Makefile
  demo.deployment.config.js
  deployment-lock.json
  deployment.config.js
  package-lock.json
  package.json
  src/example/fakers/FakedOracle.sol
  tasks/demo/migrate.task.js
  tasks/demo/trade.task.js
  tasks/libs/common.js
  tasks/libs/deploy.js
  tasks/onRegister.task.js
  tasks/refund.task.js
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

fix pipeline
  .github/workflows/quality-gate.yml
Due: none

Feat/dgma hardhat-sol-bundler (#24)
  .github/workflows/quality-gate.yml
  Makefile
  deployment-lock.json
  deployment.config.js
  hardhat.config.js
  package-lock.json
  package.json
  src/example/fakers/FakedOracle.sol
  tasks/demo/deploy.task.js
  tasks/demo/migrate.task.js
  tasks/demo/trade.task.js
  tasks/deploy.task.js
  tasks/index.js
  tasks/libs/common.js
  tasks/libs/deploy.js
  tasks/onRegister.task.js
  tasks/refund.task.js
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

forge formatter
  .editorconfig
  .lintstagedrc.json
  .prettierrc
  .solhint.json
  deployment.config.js
  foundry.toml
  package-lock.json
  package.json
Due: none

format accroding new rules
  .prettierrc
  .solhint.json
  deployment-lock.json
  foundry.toml
  src/DataStreamConsumer.sol
  src/Oracle.sol
  src/example/ISwapRouter.sol
  src/example/SwapApp.sol
  src/example/fakers/FakedOracle.sol
  src/example/fakers/FakedOracleProxy.sol
  src/example/tokens/fWETH.sol
  src/interfaces/BasicReport.sol
  src/interfaces/IAutomationEmitter.sol
  src/interfaces/IVerifierProxy.sol
  src/libs/RequestLib.sol
  src/libs/VerifierLib.sol
  src/test/Oracle.t.sol
  src/test/RequestLib.t.sol
  src/test/mocks/MockVerifier.sol
  tasks/demo/migrate.task.js
  tasks/demo/trade.task.js
  tasks/onRegister.task.js
  tasks/refund.task.js
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

Feat/formatter (#25)
  .editorconfig
  .lintstagedrc.json
  .prettierrc
  .solhint.json
  deployment-lock.json
  deployment.config.js
  foundry.toml
  package-lock.json
  package.json
  src/DataStreamConsumer.sol
  src/Oracle.sol
  src/example/ISwapRouter.sol
  src/example/SwapApp.sol
  src/example/fakers/FakedOracle.sol
  src/example/fakers/FakedOracleProxy.sol
  src/example/tokens/fWETH.sol
  src/interfaces/BasicReport.sol
  src/interfaces/IAutomationEmitter.sol
  src/interfaces/IVerifierProxy.sol
  src/libs/RequestLib.sol
  src/libs/VerifierLib.sol
  src/test/Oracle.t.sol
  src/test/RequestLib.t.sol
  src/test/mocks/MockVerifier.sol
  tasks/demo/migrate.task.js
  tasks/demo/trade.task.js
  tasks/onRegister.task.js
  tasks/refund.task.js
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

base github action
  .github/workflows/quality-gate.yml
  .github/workflows/security-gate.yml
  slither.config.json
Due: none

slither: no compile
  .github/workflows/quality-gate.yml
  .github/workflows/security-gate.yml
Due: none

Feat/slither (#26)
  .github/workflows/quality-gate.yml
  .github/workflows/security-gate.yml
  slither.config.json
Due: none

fix slither pipleine
  .github/actions/setup.yml
  .github/workflows/quality-gate.yml
  .github/workflows/security-gate.yml
  .husky/pre-commit
  .husky/pre-push
  Makefile
  README.md
  foundry.toml
  hardhat.config.js
  slither.config.json
  test/FeeLib.t.sol
  test/Oracle.t.sol
  test/RequestLib.t.sol
  test/mocks/MockDataFeeds.sol
  test/mocks/MockRegistry.sol
  test/mocks/MockVerifier.sol
Due: prettier --write, solhint --fix --noPrompt test/**/*.sol

split jobs
  .github/actions/setup.yml
  .github/actions/setup/action.yml
  .github/workflows/quality-gate.yml
  .gitignore
  .gitmodules
  .solhint.json
  Makefile
  foundry.toml
Due: none

Path conditions:
  solhint --fix --noPrompt src/**/*.sol: any of: src/**/*.sol
  prettier --write: (((any of: src/**/*.sol) or (any of: test/**/*.sol)) or (any of: integration/**/*.js)) or (any of: deployment-lock.json)
  solhint --fix --noPrompt test/**/*.sol: any of: test/**/*.sol
