Repository killroy192/fortis: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint --fix --noPrompt src/**/*.sol, prettier --write, solhint --fix --noPrompt test/**/*.sol

function typo
  .lintstagedrc.json
  src/Oracle.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

implement simple TestConsumer
  package.json
  src/Oracle.sol
  src/TestConsumer.sol
  src/interfaces/IEmitter.sol
  src/interfaces/IOracleCallBackContract.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

fix: verifyAndCall
  src/Oracle.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

implement test for request manager & simple ci
  .github/workflows/quality-gate.yml
  Makefile
  foundry.toml
  remappings.txt
  src/PriceFeedConsumer.sol
  test/RequestsManager.t.sol
  test/utils/Cheats.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write, solhint --fix --noPrompt test/**/*.sol

add package-lock
  .gitignore
  package-lock.json
Due: none

intall foundry
  .github/workflows/quality-gate.yml
Due: none

Feat/test consumer (#1)
  package.json
  src/Oracle.sol
  src/TestConsumer.sol
  src/interfaces/IEmitter.sol
  src/interfaces/IOracleCallBackContract.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

Feat/test and ci (#2)
  .github/workflows/quality-gate.yml
  .gitignore
  Makefile
  foundry.toml
  package-lock.json
  remappings.txt
  src/PriceFeedConsumer.sol
  test/RequestsManager.t.sol
  test/utils/Cheats.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write, solhint --fix --noPrompt test/**/*.sol

implement mocks for e2e & deployment
  Makefile
  foundry.toml
  package.json
  src/libs/RequestLib.sol
  src/mocks/MockConsumer.sol
  src/mocks/MockOracle.sol
  src/mocks/MockV3Aggregator.sol
  src/test/RequestsManager.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

fix: remappings for docker container
  Dockerfile
  hardhat.config.js
  package-lock.json
  remappings.txt
  src/libs/RequestLib.sol
  src/mocks/MockConsumer.sol
  src/mocks/MockOracle.sol
  src/test/RequestsManager.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

run test on precommit & remove pre-push
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: none

add hardcoded event emitting
  src/mocks/MockOracle.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

deployment script
  Makefile
  deployment/bin/deploy.js
  deployment/e2e/config.js
  deployment/e2e/index.js
  deployment/index.js
  deployment/prod/config.js
  deployment/prod/index.js
Due: none

deploy & update deployment-lock
  deployment-lock.json
Due: prettier --write

add emitHardcodedRequest method
  deployment-lock.json
  src/mocks/MockOracle.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

fix: Oracle pass data to log
  deployment/e2e/config.js
  src/Oracle.sol
  src/interfaces/IEmitter.sol
  src/mocks/MockOracle.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

fix: consumer for fake emitting
  deployment-lock.json
  src/interfaces/IMockEmitter.sol
  src/mocks/MockConsumer.sol
  src/mocks/MockOracle.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

remove legacy
  deployment-lock.json
Due: prettier --write

optimise stack usage
  deployment-lock.json
  deployment/bin/deploy.js
  deployment/e2e/config.js
  src/DataStreamConsumer.sol
  src/Oracle.sol
  src/interfaces/IEmitter.sol
  src/interfaces/IMockEmitter.sol
  src/interfaces/IOracle.sol
  src/mocks/MockConsumer.sol
  src/mocks/MockOracle.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

simplify
  deployment-lock.json
  src/Oracle.sol
  src/interfaces/IOracle.sol
  src/libs/RequestLib.sol
  src/mocks/MockConsumer.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

x
  deployment-lock.json
  src/DataStreamConsumer.sol
  src/Oracle.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

xx
  src/Oracle.sol
  src/interfaces/IOracle.sol
  src/interfaces/Request.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

implement working proxy & deployment
  Makefile
  deployment-lock.json
  deployment/e2e/index.js
  scripts/deployment/bin/deploy.js
  scripts/deployment/dev/index.js
  scripts/deployment/dev/oracle.config.js
  scripts/deployment/dev/proxy.config.js
  scripts/deployment/prod/config.js
  scripts/deployment/prod/index.js
  src/DataStreamConsumer.sol
  src/Oracle.sol
  src/SimpleOracleProxy.sol
  src/vendor/@openzeppelin/contracts/access/Ownable.sol
  src/vendor/@openzeppelin/contracts/token/IERC20.sol
  src/vendor/@openzeppelin/contracts/utils/Context.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

clear deployment.lock
  deployment-lock.json
Due: prettier --write

disable funding non-proxy oracle
  scripts/deployment/dev/index.js
Due: none

initial contract rewrite
  demo/contracts/contracts/DataStreamsConsumer.sol
Due: none

setup beacon proxy
  deployment-lock.json
  foundry.toml
  hardhat.config.js
  scripts/deployment/bin/deploy.js
  scripts/deployment/dev/index.js
  scripts/deployment/dev/proxy.config.js
  src/Oracle.sol
  src/OracleProxy.sol
  src/SimpleOracleProxy.sol
  src/interfaces/IAsset.sol
  src/interfaces/IFeeManager.sol
  src/interfaces/IVerifierFeeManager.sol
  src/interfaces/IVerifierProxy.sol
  src/vendor/@openzeppelin/contracts/access/Ownable.sol
  src/vendor/@openzeppelin/contracts/token/IERC20.sol
  src/vendor/@openzeppelin/contracts/utils/Context.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

mockOracle
  deployment-lock.json
  src/Oracle.sol
  src/SimpleOracleProxy.sol
  src/interfaces/IFakeOracle.sol
  src/interfaces/IOracle.sol
  src/mocks/MockConsumer.sol
  src/mocks/MockOracle.sol
  src/mocks/MockV3Aggregator.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

fix event
  src/Oracle.sol
  src/mocks/MockOracle.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

Feat/proxy (#4)
  deployment-lock.json
  foundry.toml
  hardhat.config.js
  scripts/deployment/bin/deploy.js
  scripts/deployment/dev/index.js
  scripts/deployment/dev/proxy.config.js
  src/Oracle.sol
  src/OracleProxy.sol
  src/SimpleOracleProxy.sol
  src/interfaces/IAsset.sol
  src/interfaces/IFakeOracle.sol
  src/interfaces/IFeeManager.sol
  src/interfaces/IOracle.sol
  src/interfaces/IVerifierFeeManager.sol
  src/interfaces/IVerifierProxy.sol
  src/mocks/MockConsumer.sol
  src/mocks/MockOracle.sol
  src/mocks/MockV3Aggregator.sol
  src/vendor/@openzeppelin/contracts/access/Ownable.sol
  src/vendor/@openzeppelin/contracts/token/IERC20.sol
  src/vendor/@openzeppelin/contracts/utils/Context.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

use router instead of proxy
  deployment-lock.json
  scripts/deployment/dev/index.js
  scripts/deployment/dev/proxy.config.js
  src/OracleProxy.sol
  src/OracleRouter.sol
  src/interfaces/IVerifierProxy.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

deployment configuration
  demo/contracts/contracts/DataStreamsConsumer.sol
  demo/contracts/hardhat.config.ts
  demo/contracts/scripts/deploy.ts
  src/interfaces/IOracleCallBackContract.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

added reused interfaces
  demo/contracts/contracts/OracleInterfaces.sol
Due: none

Enhanced request id generation
  src/Oracle.sol
  src/SimpleOracleProxy.sol
  src/interfaces/IFakeOracle.sol
  src/interfaces/IOracle.sol
  src/libs/RequestLib.sol
  src/mocks/MockConsumer.sol
  src/mocks/MockOracle.sol
  src/test/Oracle.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

Enhanced request id generation
  src/mocks/MockConsumer.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

Enhanced request id generation
  src/Oracle.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

xx
  Makefile
  deployment-lock.json
  scripts/common.js
  scripts/deployment/dev/oracle.config.js
  scripts/deployment/dev/proxy.config.js
  scripts/e2e/trigger.js
  src/OracleRouter.sol
  src/mocks/MockOracleRouter.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

Enhanced request id generation (#6)
  src/Oracle.sol
  src/SimpleOracleProxy.sol
  src/interfaces/IFakeOracle.sol
  src/interfaces/IOracle.sol
  src/libs/RequestLib.sol
  src/mocks/MockConsumer.sol
  src/mocks/MockOracle.sol
  src/test/Oracle.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

add trigger e2e
  Makefile
  scripts/common.js
  scripts/deployment/bin/deploy.js
  scripts/e2e/trigger.js
Due: none

Path conditions:
  solhint --fix --noPrompt src/**/*.sol: any of: src/**/*.sol
  prettier --write: (((any of: src/**/*.sol) or (any of: test/**/*.sol)) or (any of: integration/**/*.js)) or (any of: deployment-lock.json)
  solhint --fix --noPrompt test/**/*.sol: any of: test/**/*.sol
