Repository killroy192/fortis: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint --fix --noPrompt src/**/*.sol, prettier --write, solhint --fix --noPrompt test/**/*.sol

.lintstagedrc.json:

{
  "src/**/*.sol": [
    "solhint --fix --noPrompt src/**/*.sol",
    "prettier --write"
  ],
  "test/**/*.sol": [
    "solhint --fix --noPrompt test/**/*.sol",
    "prettier --write"
  ],
  "integration/**/*.js": "prettier --write",
  "deployment-lock.json": "prettier --write"
}

deploy to goerli
  .env.example
  Makefile
  deployment-lock.json
  hardhat.config.js
  integration/.gitkeep
  scripts/common.js
  scripts/deployment/arbitrum-goerli/index.js
  scripts/deployment/arbitrum-goerli/oracle.config.js
  scripts/deployment/arbitrum-goerli/proxy.config.js
  scripts/deployment/arbitrum-sepolia/index.js
  scripts/deployment/arbitrum-sepolia/oracle.config.js
  scripts/deployment/arbitrum-sepolia/proxy.config.js
  scripts/deployment/hardhat/index.js
  scripts/deployment/hardhat/oracle.config.js
  scripts/deployment/hardhat/proxy.config.js
  scripts/e2e/trigger.js
Due: prettier --write

enable deploy stage on quality gate
  .github/workflows/quality-gate.yml
Due: none

correct oracle address
  demo/contracts/scripts/deploy.ts
Due: none

rm redundant oracle interface
  demo/contracts/contracts/OracleInterfaces.sol
  src/interfaces/IOracleCallBackContract.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

new inteface call with nonce
  demo/contracts/contracts/DataStreamsConsumer.sol
  demo/contracts/contracts/OracleInterfaces.sol
  src/interfaces/IOracleCallBackContract.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

trade with nonce
  demo/app/package.json
  demo/app/src/components/trade-dialog.tsx
  demo/app/src/config/contracts.ts
  demo/contracts/contracts/DataStreamsConsumer.sol
Due: none

revert comment and redundant package
  demo/app/package.json
  demo/contracts/hardhat.config.ts
Due: none

fix solidity syntax
  demo/contracts/contracts/DataStreamsConsumer.sol
Due: none

rm redundant method
  demo/contracts/contracts/DataStreamsConsumer.sol
Due: none

remove autogenerate
  demo/contracts/contracts/OracleInterfaces.sol
  src/interfaces/IOracleCallBackContract.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

inserted new line
  demo/contracts/contracts/OracleInterfaces.sol
  src/interfaces/IOracleCallBackContract.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

remove google tag
  demo/app/.env.example
  demo/app/package.json
  demo/app/src/app/layout.tsx
  demo/app/src/components/google-tag.tsx
Due: none

enable lib
  .gitignore
  demo/app/src/lib/chainlink-sdk.ts
  demo/app/src/lib/utils.ts
Due: none

upate deployment scripts
  scripts/deployment/arbitrum-goerli/config.js
  scripts/deployment/arbitrum-goerli/index.js
  scripts/deployment/arbitrum-goerli/proxy.config.js
  scripts/deployment/arbitrum-sepolia/config.js
  scripts/deployment/arbitrum-sepolia/index.js
  scripts/deployment/arbitrum-sepolia/proxy.config.js
  scripts/deployment/hardhat/config.js
  scripts/deployment/hardhat/index.js
  scripts/deployment/hardhat/proxy.config.js
  scripts/e2e/trigger.js
Due: none

update scripts
  scripts/deployment/arbitrum-goerli/index.js
  scripts/deployment/arbitrum-sepolia/index.js
  scripts/deployment/deploy.js
  scripts/deployment/hardhat/index.js
  scripts/deployment/prod/index.js
  scripts/deployment/upgrade.js
Due: none

commpn script for upgrades
  scripts/deployment/arbitrum-goerli/index.js
  scripts/deployment/arbitrum-sepolia/index.js
  scripts/deployment/hardhat/index.js
  scripts/deployment/upgrade.js
  scripts/deployment/upgradeOracle.js
Due: none

simplify migration script
  scripts/deployment/arbitrum-goerli/index.js
  scripts/deployment/arbitrum-sepolia/index.js
  scripts/deployment/deploy.js
  scripts/deployment/hardhat/index.js
  scripts/deployment/upgrades.js
Due: none

prepare repo foe example
  .github/workflows/quality-gate.yml
  Makefile
  deployment-lock.json
  scripts/deployment/example/arbitrum-goerli/config.js
  scripts/deployment/example/arbitrum-goerli/index.js
  scripts/deployment/example/arbitrum-sepolia/config.js
  scripts/deployment/example/arbitrum-sepolia/index.js
  scripts/deployment/example/hardhat/config.js
  scripts/deployment/example/hardhat/index.js
  scripts/deployment/example/upgrades.js
  scripts/deployment/prod/config.js
  scripts/deployment/prod/index.js
  scripts/e2e/example/trigger.js
  src/AutomationEmitter.sol
  src/Oracle.sol
  src/RequestsManager.sol
  src/example/SimpleConsumer.sol
  src/example/fakers/FakedOracle.sol
  src/example/fakers/FakedOracleProxy.sol
  src/example/fakers/IFakedOracle.sol
  src/interfaces/IAutomationEmitter.sol
  src/interfaces/IRequestsManager.sol
  src/mocks/MockOracle.sol
  src/test/Oracle.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

swapApp
  Makefile
  deployment-lock.json
  package-lock.json
  package.json
  remappings.txt
  scripts/deployment/example/arbitrum-goerli/config.js
  scripts/deployment/example/arbitrum-sepolia/config.js
  scripts/deployment/example/hardhat/config.js
  scripts/e2e/example/trade.js
  src/example/ISwapRouter.sol
  src/example/SwapApp.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

remove legacy code from simple consumer
  deployment-lock.json
  src/example/SimpleConsumer.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

executable trade contract
  deployment-lock.json
  scripts/e2e/example/trade.js
  src/example/SwapApp.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

trade event
  deployment-lock.json
  src/example/SwapApp.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

add fallback preview method
  deployment-lock.json
  src/Oracle.sol
  src/OracleRouter.sol
  src/interfaces/IOracle.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

fix preview
  deployment-lock.json
  src/Oracle.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

wip
  demo/app/src/components/trade-dialog.tsx
  demo/app/src/config/contracts.ts
Due: none

partial trading
  Makefile
  deployment-lock.json
  scripts/common.js
  scripts/config.externals.js
  scripts/deployment/deploy.js
  scripts/deployment/example/arbitrum-goerli/config.js
  scripts/deployment/example/arbitrum-sepolia/config.js
  scripts/deployment/example/hardhat/config.js
  scripts/deployment/example/localhost/index.js
  scripts/e2e/example/fund.js
  scripts/e2e/example/trade.js
  scripts/e2e/example/trigger.js
  src/Oracle.sol
  src/example/SimpleConsumer.sol
  src/example/SwapApp.sol
  src/example/tokens/fUSDC.sol
  src/example/tokens/fWETH.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

fix workflow
  .github/workflows/quality-gate.yml
Due: none

enable working trading
  scripts/e2e/example/trade.js
Due: none

replaced tokens with fortis coins
  demo/app/src/components/trade-button.tsx
  demo/app/src/components/trade-dialog.tsx
  demo/app/src/config/contracts.ts
Due: none

trade from ui
  demo/app/src/components/trade-dialog.tsx
  demo/app/src/wagmi.ts
  scripts/e2e/example/trade.js
Due: none

payble oracle
  deployment-lock.json
  scripts/deployment/example/arbitrum-goerli/config.js
  scripts/deployment/example/arbitrum-sepolia/config.js
  scripts/deployment/example/hardhat/config.js
  scripts/e2e/example/fund.js
  scripts/e2e/example/trade.js
  src/Oracle.sol
  src/OracleRouter.sol
  src/RequestsManager.sol
  src/example/fakers/FakedOracle.sol
  src/example/fakers/FakedOracleProxy.sol
  src/example/fakers/IFakedOracle.sol
  src/interfaces/IOracle.sol
  src/interfaces/IRequestsManager.sol
  src/libs/FeeManagerLib.sol
  src/libs/RequestLib.sol
  src/test/FeeManagerLib.t.sol
  src/test/RequestsManager.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

cleanup
  demo/app/src/components/trade-dialog.tsx
Due: none

cleanup
  demo/app/src/app/page.tsx
  demo/app/src/components/datafeed-data.tsx
  demo/app/src/components/trade-button.tsx
  demo/app/src/components/trade-dialog.tsx
  demo/contracts/.env.example
  demo/contracts/.gitignore
  demo/contracts/contracts/OracleInterfaces.sol
  demo/contracts/contracts/interfaces/IVerifierProxy.sol
  demo/contracts/contracts/mocks/KeeperRegistryMock.sol
  demo/contracts/hardhat.config.ts
  demo/contracts/package.json
  demo/contracts/scripts/deploy.ts
  demo/contracts/scripts/initialize.ts
  demo/contracts/scripts/trade.ts
  demo/contracts/scripts/upgrade.ts
  demo/contracts/test/DataStreamsConsumer.ts
  demo/contracts/tsconfig.json
Due: none

forward fees
  .gitignore
  deployment-lock.json
  scripts/common.js
  scripts/deployment/example/upgrades.js
  scripts/e2e/example/fund.js
  scripts/e2e/example/trade.js
  scripts/e2e/example/trigger.js
  src/Oracle.sol
  src/OracleRouter.sol
  src/example/SimpleConsumer.sol
  src/example/SwapApp.sol
  src/example/fakers/FakedOracleProxy.sol
  src/example/tokens/fUSDC.sol
  src/example/tokens/fWETH.sol
  src/libs/FeeManagerLib.sol
  src/test/Oracle.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

fallback works
  demo/app/src/app/page.tsx
  demo/app/src/components/trade-button.tsx
  demo/app/src/components/trade-dialog.tsx
  demo/app/src/config/contracts.ts
Due: none

calc price in modal
  demo/app/src/components/trade-dialog.tsx
Due: none

handle event of trade executed
  demo/app/src/components/trade-dialog.tsx
Due: none

fix test
  Makefile
  src/test/FeeManagerLib.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

add unit tests
  Makefile
  deployment-lock.json
  scripts/e2e/example/fund.js
  scripts/e2e/example/trigger.js
  src/Oracle.sol
  src/libs/FeeManagerLib.sol
  src/test/FeeManager.t.sol
  src/test/RequestLib.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write

implement payments for oracle
  scripts/e2e/example/fund.js
  scripts/e2e/example/trade.js
  scripts/e2e/example/trigger.js
  src/DataStreamConsumer.sol
  src/Oracle.sol
  src/OracleRouter.sol
  src/example/fakers/FakedOracle.sol
  src/interfaces/IOracle.sol
  src/libs/FeeLib.sol
  src/libs/FeeManagerLib.sol
  src/libs/RequestLib.sol
  src/libs/VerifierLib.sol
  src/test/FeeLib.t.sol
  src/test/FeeManager.t.sol
  src/test/Oracle.t.sol
  src/test/RequestLib.t.sol
Due: solhint --fix --noPrompt src/**/*.sol, prettier --write
